@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*linea de comentario en sass y css*/
/*mediaquerins*/
/*mediaquerin para tablet*/
/*mediaquerin para escritorio*/
/*mediaquerin para celular*/
body {
  background-color: #161616;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto; }

main h1, .main-productos div h1, .main-puntosdeventa h1, .main-puntosdeventa h2, .main-quienessomos div {
  padding: 1px;
  margin: 1px; }

/*estilos en home*/
/*estilos para el body*/
/*estilos para el header*/
header nav div a:hover {
  border-bottom: 2px solid #3ee6e6; }

header nav div a img {
  scale: 70%;
  width: auto; }
  @media screen and (min-width: 300px) {
    header nav div a img {
      padding: 2px; } }

header nav div div ul li a:hover {
  border-bottom: 2px solid #3ee6e6; }

/*estilos para el main*/
main {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  margin: 10px; }
  @media screen and (min-width: 300px) {
    main {
      padding: 30px; } }
  main h1 {
    background-color: none;
    color: #009696;
    text-align: center; }
  main p {
    color: white;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 10px; }
  main section div button span {
    background-color: #33FFF0; }

/*estilos para el footer*/
footer {
  background-color: #161616;
  position: fixed;
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  height: 120px; }
  footer h3 {
    text-align: center;
    color: #67a8a3;
    bottom: 0; }
  footer div a .whatsapp {
    /*para botón de face*/
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 60px;
    height: 60px; }
  footer div a .instagram {
    /*para botón de face*/
    position: fixed;
    bottom: 5px;
    right: 70px;
    width: 60px;
    height: 60px; }
  footer div a .facebook {
    /*para botón de face*/
    position: fixed;
    bottom: 5px;
    right: 140px;
    width: 60px;
    height: 60px; }
  footer div a .arriba {
    /*para botón de arriba*/
    position: fixed;
    bottom: 5px;
    left: 5px;
    width: 60px;
    height: 60px; }

/*mediaquerins*/
/*mediaquerin para tablet*/
/*mediaquerin para escritorio*/
/*mediaquerin para celular*/
/*estilos para el header*/
header nav img {
  height: 100px;
  margin-right: 20px;
  margin-top: 20px; }

/*estilos para el main*/
.main-productos div h1 {
  background-color: none;
  color: #009696;
  text-align: center; }

.main-productos div {
  margin-top: 30px;
  text-align: center; }
  .main-productos div .caja:hover {
    transform: scale(1.2); }
  .main-productos div div {
    background-color: #4dd8c5;
    /* propiedades para el ancho de la etiqueta*/
    width: 150px;
    /* propiedades para el alto de la etiqueta*/
    height: 50px;
    margin: 50px;
    padding: 10px;
    display: inline-block; }

.section-productos {
  height: 150vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(0.5, 33%);
  gap: 1rem;
  margin: 1rem 3rem 10rem 3rem; }
  @media screen and (min-width: 600px) {
    .section-productos {
      /* estilos de section */
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 50%); }
      .section-productos .img-uno,
      .section-productos .img-tres {
        grid-row: span 1; }
      .section-productos .img-tres {
        grid-column: span 2; }
      .section-productos .img-dos,
      .section-productos .img-cinco {
        grid-row: span 1; }
      .section-productos .img-cuatro {
        grid-column: span 2; }
      .section-productos .img-seis {
        grid-column: span 1; } }
  @media screen and (min-width: 1024px) {
    .section-productos {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 40% 40% 20%; }
      .section-productos .img-uno,
      .section-productos .img-tres,
      .section-productos .img-dos {
        grid-row: span 2; }
      .section-productos .img-tres {
        grid-row: span 1; }
      .section-productos .img-dos {
        grid-column: span 2; }
      .section-productos .img-cuatro {
        grid-column: span 1; }
      .section-productos .img-cinco,
      .section-productos .img-seis {
        grid-column: span 3; } }
  .section-productos div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

/*mediaquerins*/
/*mediaquerin para tablet*/
/*mediaquerin para escritorio*/
/*mediaquerin para celular*/
main h1 {
  background-color: none;
  color: #009696;
  text-align: center; }

main div img {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  max-width: 100%;
  height: auto; }

main form {
  color: #118fa0;
  text-align: center;
  height: auto;
  padding-bottom: 200px; }
  main form fieldset legend {
    font-size: 30px; }
  main form fieldset div label {
    height: 60px;
    font-size: 20px; }

/*mediaquerins*/
/*mediaquerin para tablet*/
/*mediaquerin para escritorio*/
/*mediaquerin para celular*/
.main-puntosdeventa {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  margin: 10px; }
  .main-puntosdeventa h1 {
    background-color: none;
    color: #009696;
    text-align: center; }
  .main-puntosdeventa h2 {
    text-align: center;
    color: white;
    bottom: 0; }
  .main-puntosdeventa section div div div iframe {
    width: 100%;
    height: 500px;
    object-fit: cover; }

/*mediaquerins*/
/*mediaquerin para tablet*/
/*mediaquerin para escritorio*/
/*mediaquerin para celular*/
.main-quienessomos div {
  background-color: none;
  color: #009696;
  text-align: center; }

.main-quienessomos div .imagen-quienessomos {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  max-width: 100%;
  height: auto; }

.main-quienessomos p {
  color: white;
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 10px; }

.section-quienessomos {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(0.5, 33%);
  gap: 1rem;
  margin: 1rem 3rem 10rem 3rem; }
  @media screen and (min-width: 300px) {
    .section-quienessomos {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr); }
      .section-quienessomos .img-quiencinco,
      .section-quienessomos .img-quienseis,
      .section-quienessomos .img-quiensiete,
      .section-quienessomos .img-quiendos,
      .section-quienessomos .img-quientres {
        grid-row: span 1;
        grid-column: span 1; } }
  @media screen and (min-width: 600px) {
    .section-quienessomos {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr); }
      .section-quienessomos .img-quiencinco,
      .section-quienessomos .img-quienseis {
        grid-row: span 1;
        grid-column: span 2; }
      .section-quienessomos .img-quiendos,
      .section-quienessomos .img-quientres,
      .section-quienessomos .img-quiensiete {
        grid-row: span 1;
        grid-column: span 3; } }
  @media screen and (min-width: 1024px) {
    .section-quienessomos {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 33% 33% 34%; }
      .section-quienessomos .img-quiencinco,
      .section-quienessomos .img-quienseis,
      .section-quienessomos .img-quiensiete {
        grid-row: span 1;
        grid-column: span 1; }
      .section-quienessomos .img-quiendos,
      .section-quienessomos .img-quientres {
        grid-row: span 1;
        grid-column: span 3; } }
  .section-quienessomos div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

/*mediaquerins*/
/*mediaquerin para tablet*/
/*mediaquerin para escritorio*/
/*mediaquerin para celular*/
/*estilos de header*/
/*estilos de main*/
/*clase SASS 2*/
