/*reset*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
//linea de comentario en sass
/*linea de comentario en sass y css*/

//archivos secundarios
// esto se uso para la clase de ejemplo del profe: @import "html/home";
@import "html/index";
@import "html/productos";
@import "html/contacto";
@import "html/puntos-de-venta";
@import "utilidades/mixin";
@import "utilidades/variables";

//nesting

/*estilos de header*/

/*estilos de main*/


/*clase SASS 2*/






