//tambien me sirve para pegar y copiar codigo, no se trabaja con parametros, le copiamos proiuedades. extendemos codigos a dsitintas etiquetas

%border{
    border: 2px solid black;
    margin: 1rem;
    padding: 0.5rem;
}