//boton para usuarios standard

$standard: (
    bg-standard: tomato,
    color-standard: black,
    width-standard: 150px,
    border-standard: 1px solid black,    
);

//premium

$premium: (
    bg-premium: gold,
    color-premium: whitesmoke,
),