//paleta de colores


//color de fondo
$color-fondoprincipal: #161616;

//color para los h
$color-h:rgb(255,255,255);
$color-h1:rgb(0, 150, 150);
$color-h2: rgb(255,255,255);
$color-h3:rgb(103, 168, 163);

//color para los p
$color-p:rgb(255,255,255);

//color para menuhamburguesa
$color-menuhambbotom:rgb(62, 230, 230);
$color-menuhamb: rgb(69, 177, 219);

//color de la caja hijos
$color-cajahijos: rgb(77, 216, 197);

//color botones
$color-boton: rgb(31, 28, 28);

$colorboton-carrusel:#33FFF0;

//colores para los formularios
$color-formulario:rgb(17, 143, 160);

